@page
@model ChangePasswordModel
@{
    ViewBag.Title = "Cambiar contraseña";
    ViewBag.ActivePage = ManageNavPages.ChangePassword;
}

<h3>@ViewBag.Title</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div class="form-floating mb-3">
                <input class="form-control" autocomplete="current-password" aria-required="true" placeholder="Por favor ingresa tu actual contraseña." asp-for="Input.OldPassword" />
                <label class="form-label" asp-for="Input.OldPassword"></label>
                <span class="text-danger" asp-validation-for="Input.OldPassword"></span>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" autocomplete="new-password" aria-required="true" placeholder="Por favor ingresa tu nueva contraseña." asp-for="Input.NewPassword" />
                <label class="form-label" asp-for="Input.NewPassword"></label>
                <span class="text-danger" asp-validation-for="Input.NewPassword"></span>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" autocomplete="new-password" aria-required="true" placeholder="Por favor confirma tu nueva contraseña." asp-for="Input.ConfirmPassword" />
                <label class="form-label" asp-for="Input.ConfirmPassword"></label>
                <span class="text-danger" asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <button class="w-100 btn btn-lg btn-secondary border-light text-black" type="submit">Actualizar contraseña</button>
            <div class="text-danger" role="alert" asp-validation-summary="ModelOnly"></div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}