@page
@model ForgotPasswordModel
@{
    ViewBag.Title = "¿Olvidaste tu contraseña?";
}

<h1>@ViewBag.Title</h1>
<h2>Ingresa tu email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="text-danger" role="alert" asp-validation-summary="ModelOnly"></div>
            <div class="form-floating mb-3">
                <input class="form-control" autocomplete="username" placeholder="name@example.com" aria-required="true" asp-for="Input.Email" />
                <label class="form-label" asp-for="Input.Email"></label>
                <span class="text-danger" asp-validation-for="Input.Email"></span>
            </div>
            <button class="w-100 btn btn-lg btn-secondary border border-light text-black" type="submit">Restablecer Contraseña</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}